#!/bin/sh

<%= @dnscredentials_cron -%> /usr/local/bin/lego --domains <%= @domainname -%> --server <%= @acme_server -%> --email <%= @email -%> --dns <%= @dnsprovider -%> -pem -a --path /etc/lego renew --days <%= @renewal_days %>

